* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

body {
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(to bottom, transparent, #ccc) no-repeat;
}

#wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  background: #fff;
}

header {
  height: 60px;
  background: #323232;
  color: #fff;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}

.personal-info {
  display: flex;
}
.profile {
  margin-left: 30px;

  a {
    display: block;
    color: #fff;
    text-decoration: underline;
  }
}

.chat-block {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.users-block {
  width: 23%;
  min-width: 200px;
  background: #525252;
  padding: 8px;
  padding-right: 4px;
  overflow-y: scroll;

  h3 {
    color: #fff;
    font-family: sans-serif;
    margin-bottom: 10px;
  }

  a {
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;
    color: #fff;
    background: #888888;
    margin-bottom: 3px;
    border-radius: 5px;

    &:after {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      top: calc(50% - 4px);
      right: 8px;
    }

    &.active:after {
      background: lightgreen;
    }

    &.inactive {
      opacity: 0.7;
    }

    &.inactive:after {
      background: #DD3B0A;
      opacity: 0.8;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 5px;
    }
  }

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1px;
  }
}

.chat {
  width: 77%;
}

.select-chat {
  display: flex;
  height: 20px;
}
.select-chat a {
  position: relative;
  display: block;
  padding: 0 10px;
  border-radius: 3px 3px 0 0;
  border: 1px solid #000;
  box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.3),
              -3px 0 5px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  color: #1e1e1e;
}
.select-chat li:not(:first-of-type) a {
  left: -4px;
}
.select-chat a.active {
  z-index: 1;
}

.chat-content {
  height: calc(100% - 90px);
  background: #dedede;
}

.chat-content {
  padding: 10px;
  overflow-y: scroll;
}

.chat-content::-webkit-scrollbar {
  width: 4px;
}
.chat-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1px;
}

.message {
  display: flex;
  margin-bottom: 5px;
}
.message .user {
  margin-right: 5px;
}

.create-message {
  position: relative;
  background:#323232;
}
.create-message textarea {
  width: calc(100% - 110px);
  height: 64px;
  border: none;
  background:#323232;
  color: #fff;
  padding: 10px;
  margin: 3px 0;
  border-radius: 3px 3px 0 0;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
  }
}

#send {
  cursor: pointer;
  position: absolute;
  height: 40px;
  top: calc(50% - 30px);
  right: 10px;
  background: none;
  border: none;
  color: #fff;
}
.edit-panel {
  position: absolute;
}

//login form

.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:#777777;
  padding: 20px;
  border-radius: 5px;

  h2 {
    font-family: sans-serif;
    font-size: 20px;
    margin-right: auto;
    margin-bottom: 15px;
    color: #fff;
  }

  label {
    width: 100%;
  }

  input {
    width: 100%;
    border-radius: 2px;
    background:#3d3d3d;
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 15px;
    transition: border 0.5s;
    color: #ccc;

    &::placeholder {
      color: #ccc;
    }

    &:not(.send):focus {
      border: 1px solid #009c05;
    }

    &.send {
      margin-right: auto;
      width: fit-content;
      padding: 10px;
      background: #00c710;
      transition: 0.3s;
      border: none;
      cursor: pointer;
      color: #fff;
      border-radius: 4px;
      margin-bottom: 30px;
      

      &:hover {
        background: #00e312;
      }
    }
  }

  a {
    display: block;
    padding: 5px 20px;
    background: #000;
    color: #fff;
    border-radius: 2px;
    opacity: 0.8;
    transition: 0.3s;
    margin-left: auto;

    &:hover {
      opacity: 1;
    }
  }

  #alert {
    background: #cf1f00;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    transition: 0.3s;

    &.show {
      padding: 5px;
    }
  }
}